<h2><%= @store.name %></h2>
<br>

<ul>
  <% @store.brands.each do |brand| %>
    <li> <%= brand.name %> <%= "$#{'%.2f' % (brand.price.to_f/100)}" %></li>
  <% end %>
</ul>
<br>
<form action="/store_main/<%= @store.id %>/brands" method="post">
  <label for="brand">BRAND:</label>
  <select id='brand' name='brand' type='text'>
    <% @brands.each do |brand| %>
      <option value="<%= brand.id%>"> <%= brand.name %> </option>
    <% end %>
  </select>

  <button type="submit">ADD</button>
</form>

<a href="/brand_main">BRANDS</a>
<a href="/store_main">STORES</a>

<a href="/home">home</a>
